APP_ENV=development
LOG_LEVEL=INFO
DATA_DIR=./data
LOG_DIR=./logs
PROJECT_NAME=jlexai-accuracy-audit


SAMPLE_SIZE=100
NUM_USERS=5
RANDOM_SEED=42

GOOGLE_SERVICE_ACCOUNT_FILE=./secrets/service_account.json
GOOGLE_SPREADSHEET_ID=18ALv5giapOkBMC1dC03UBdWINqTq3_aw1RhXEFLJUWc